---
import { SearchContainer } from '../../components/search/search-container'
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts'
import HeaderLayout from '../../layouts/HeaderLayout.astro'
---

<HeaderLayout description={SITE_DESCRIPTION} title={SITE_TITLE}>
    <section>
        <SearchContainer client:load />
    </section>
</HeaderLayout>
