---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import Layout from '../layouts/BaseLayout.astro'
---

<Layout description={SITE_DESCRIPTION} title={SITE_TITLE}>
    <section class="flex h-screen items-center justify-center bg-yellow-500">
        <h1 class="text-9xl font-bold uppercase">Trippavisor</h1>
        <h2>Il portale definitivo delle sagre</h2>
    </section>
</Layout>
