---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import Layout from '../layouts/BaseLayout.astro'
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <section class="h-screen bg-yellow-500 flex justify-center items-center">
        <h1 class="text-9xl">Trippavisor</h1>
    </section>
</Layout>
