---
const today = new Date()
---

<footer
    class="flex flex-col gap-4 bg-[#1B4543] px-4 py-8 text-center text-white"
>
    &copy; {today.getFullYear()} Sbaffando. All rights reserved.
    <a class="text-xl uppercase underline" href="mailto:sbaffando@gmail.com">
        Se sei un gestore di una sagra o un fan: Contattaci!
    </a>
</footer>
<!-- <style>
    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
    }
    .social-links a {
        text-decoration: none;
        color: rgb(var(--gray));
    }
    .social-links a:hover {
        color: rgb(var(--gray-dark));
    }
</style> -->
