---
import { Image } from 'astro:assets'
import logo from '../assets/logo.svg'
import { SITE_TITLE } from '../consts'
import HeaderLink from './HeaderLink.astro'
---

<header>
    <nav class="flex items-center justify-between px-4 py-2">
        <h2>
            <a class="flex items-center gap-x-2 font-bold uppercase" href="/">
                <Image alt="Trippavisor logo" src={logo} />
                {SITE_TITLE}
            </a>
        </h2>
        <div class="flex gap-x-2">
            <HeaderLink href="/about">About</HeaderLink>
            <HeaderLink href="/trippas">Cerca</HeaderLink>
        </div>
    </nav>
</header>
