---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'

type Props = {
    title: string
    description: string
}

const { title, description } = Astro.props
---

<html lang="it">
    <head>
        <BaseHead description={description} title={title} />

        <script
            data-website-id="66955fa9-8f80-4af2-aff4-22bd14f704d6"
            defer
            src="https://cloud.umami.is/script.js"></script>
    </head>

    <body>
        <main class="min-h-screen">
            <slot />
        </main>
        <Footer />
    </body>
</html>
